body {
    background-image: url(../Images/Backgrounds/Background.webp);
    background-size: 200px;
    background-position: 5%;
    display: grid;
    grid-template-columns: 16% 100% ;
}

.BackButton {
    background-color: rgb(20, 20, 20);
    justify-self: center;
    border-radius: 25px;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 1rem;
    color:  white;
    height: 15%;
    width: 60%;
    border: 2px solid rgb(37, 37, 37);
    mask-image: linear-gradient(to right, black 90%, transparent 100%);
    transition: background-color 0.15s;

}

.BackButton:hover {
    background-color: rgb(31, 31, 31);
}

.Container {
    background-color: rgb(15, 15, 15);
    height: 800px;
    width: 70%;
    justify-self: baseline;
    grid-column-start: 2;
    text-align: center;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 0, 0, 0.753) rgb(54, 54, 54);
    scrollbar-width: thin;
}

#LogoContainer {
    background-color: rgb(20, 20, 20);
    height: 50%;
}

#Logo {
    width: 80%;
    height: 100%;

}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-top: 5rem;

}

.Text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3rem;
    max-width: 30rem;
    justify-self: center;
}

@media screen and (max-width: 726px) {

body {
    background-image: url(../Images/Backgrounds/Background.webp);
    background-size: 200px;
    background-position: 5%;
    display: grid;
    grid-template-columns: 8% 100% ;
    grid-template-rows: 20% 100%;
}


.Container {
    grid-row-start: 2;
    width: 90%;

}

.BackButton {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    margin-right: 3rem;
    width: 70%;
    height: 70%;
}

}