body {
    background-color: black;
    scrollbar-color: rgba(255, 0, 0, 0.753) rgb(54, 54, 54);
    scrollbar-width: thin;

}

.LesserFilms {
    margin: 25px;
    border-radius: 5px;
    border: 2px solid rgb(20, 20, 20);
    width: 350px;
    height: 300px;
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    transition: opacity 0.5s;

}

.Guylherprime {
    margin: 25px;
    border-radius: 5px;
    border: 2px solid rgb(20, 20, 20);
    width: 350px;
    height: 300px;
    background-color: rgb(45, 111, 255);
    overflow: hidden;
    transition: opacity 0.5s;

}

.Guylherprime:hover {
    opacity: 0.8;

}

.LesserFilms:hover {
    opacity: 0.8;
}

.FilmLink {
    text-decoration: none;
}

.LesserFilmImage {
    height: 225px;
    width: 100%;
    background-color: rgb(10, 10, 10);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    
}

.GuylherprimeImage {
    height: 225px;
    width: 100%;
    background-color: rgb(0, 132, 255);
    
}

.LesserFilmTitles {
    font-weight: 600;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    color: white;

}

#UpperBody {
    display: grid;
    grid-template-columns: 5% minmax(88%, 95%) minmax(5%, 12%);
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    
}

#LowerBody {
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: repeat(10, 350px);
    overflow-x: scroll;
    scrollbar-color: rgba(255, 0, 0, 0.753) rgb(54, 54, 54);
    scrollbar-width: thin;
    grid-gap: 15px;
    transform-origin: top left;

}

#MiddleBody {
    background-color: rgb(20, 20, 20);
}

.MiddleTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: 5px;

}


#SideBar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    background-color: rgb(114, 28, 28);
}

#Header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
}

.About {
    color: rgb(114, 28, 28);
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(37, 37, 37);
    mask-image: linear-gradient(to left, black 60%, transparent 100%);
    transition: background-color 0.25s;
}

.About:hover {
    background-color: rgb(31, 31, 31);
}

#HeaderBody {
    position: sticky;
}

#LogoImage {
    height: 5rem;
    width: 7rem;
    margin-left: 2%;
    transition: background-color 0.25s;
}

#LogoImage:hover {
    background-color: rgb(25, 25, 25);
}

.Main-Film {
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: minmax(25%, 50%) minmax(50%, 80%);
    background-color: rgb(37, 37, 37);


}

.Description {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    justify-content: center;
}

.Film-Image {
    height: 500px;
    width: 100%;
    mask-image: linear-gradient(to left, black 60%, transparent 100%);

}

.Film-Name {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    color: white;

}

.Film-Description {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 30px;
    color: white;

}

.Film-Description-2 {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 30px;
    min-width: 250px;
    max-width: 450px;
    color: white;
    

}

.Watch-Button {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 32px;
    width: 150px;
    height: 75px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    transition: background-color 0.30s, color 0.15s, width 0.15s;


}

.Watch-Button:hover {
    width: 160px;
    background-color: rgb(29, 29, 29);
    color: white;
}

.MovieVideo {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 726px) {

#Header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-columns: repeat(3, 50%);
    grid-template-rows: 100px 50px;

}

#LogoImage {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    margin-left: 2%;
    display: block;
    margin: auto;
    width: 50%;
}

.More-Movies {
    grid-row-start: 2;
    
}

.About {
    grid-row-start: 2;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    mask-image: linear-gradient(to right, black 60%, transparent 100%);

}


.Main-Film {
    display: grid;
    grid-template-columns:  minmax(50%, 100%);
    grid-template-rows: minmax(70%, 80%);
    align-content: center;
    

}

.Film-Image {
    height: 480px;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    mask-image: linear-gradient(to left, black 60%, transparent 100%);

}

.Film-Name {
    font-weight: 900;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    color: white;


}

.Description {
    text-align: center;
    justify-content: center;
}

.Film-Description {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 15px;
    color: white;


}

.Film-Description-2 {
    display: none;
    color: white;

}

.Watch-Button {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: black;
    margin-left: 0px;
    
}

}
